<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>미국 King County의 집값 분석자료</h1>
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-hqvfo/embed/charts?id=62b81d32-2c44-4464-82c5-fdb03cac7354&maxDataAge=-1&theme=light&autoRefresh=false"></iframe>
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-hqvfo/embed/charts?id=62b819cb-7fbe-4d70-8eb8-f88e65dcc808&maxDataAge=-1&theme=light&autoRefresh=false"></iframe>
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-hqvfo/embed/charts?id=62b81c8e-2b11-42d8-857e-6d176c6854a7&maxDataAge=-1&theme=light&autoRefresh=false"></iframe>
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-hqvfo/embed/charts?id=62b81b3c-7fbe-4afd-8c16-f88e65dd36fe&maxDataAge=-1&theme=light&autoRefresh=false"></iframe>
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-hqvfo/embed/charts?id=62b81bd2-2b11-4871-89b5-6d176c67ec22&maxDataAge=-1&theme=light&autoRefresh=false"></iframe>
</body>
</html>




